Source: adaptation-hybris
Maintainer: Giuseppe Corti (r3vn) <giuseppe.corti@protonmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/hybris-mobian/adaptation-hybris
Vcs-Git: https://github.com/hybris-mobian-releng/adaptation-hybris

Package: adaptation-hybris
Architecture: all
Depends: ${misc:Depends},
         udev,
         lxc-android,
         libhybris,
         pulseaudio-modules-droid,
         phosh-config-hwcomposer,
Description: adaptation hybris base metapackage

Package: adaptation-hybris-phone
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris (= ${binary:Version}),
         ofono,
Description: adaptation hybris phone metapackage

Package: adaptation-hybris-api28-phone
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris (= ${binary:Version}),
         adaptation-hybris-phone (= ${binary:Version}),
         ofono-ril-binder-plugin,
Description: adaptation hybris phone metapackage

Package: adaptation-hybris-api28
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris (= ${binary:Version}),
         bluebinder,
Description: adaptation hybris gsi28 metapackage

Package: adaptation-hybris-devtools
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris (= ${binary:Version}),
         libhybris-test,
         hybris-usb,
Description: adaptation hybris devtools metapackage
